<?xml version="1.0" encoding="utf-8" ?>
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <!-- Eventlog archives -->
      <Folder path="#SYS32DIR#\winevt\logs" >
        <File name="Archive-Application*.evtx" age="1"  action="Archive" recursive="False" target="D:\AppLogs\eventlogs\Archive-Application_#FCMONTH#.zip" />
        <File name="Archive-System*.evtx"      age="1"  action="Archive" recursive="False" target="D:\AppLogs\eventlogs\Archive-System_#FCMONTH#.zip" />
        <File name="Archive-Security*.evtx"    age="1"  action="Archive" recursive="False" target="D:\AppLogs\eventlogs\Archive-Security_#FCMONTH#.zip" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
