<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <applicationSettings>
    <Folders schedule="Daily" >
      <Folder path="C:\chef\log" >
        <File name="client.log" age="1" check="created" action="Move" target="client_#FMDATE#.log" forceOverWrite="false"
               preaction="$s=gsv chef-client -ea silentlycontinue;if($s){$s.Stop() ;$s.WaitForStatus('Stopped'); Start-Sleep -Seconds 5}"
              postaction="$s=gsv chef-client -ea silentlycontinue;if($s){$s.Start()}" />
        <File name="client_*.log" age="5" action="Archive" target="client_#FMMONTH#.zip" />
        <File name="client_*.zip" age="35" action="Delete" />
      </Folder>
      <Folder path="C:\var\log\sensu" >
        <File name="sensu-client.log" age="1" check="created" action="Move" target="sensu-client_#FMDATE#.log" forceOverWrite="false"
               preaction="$s=gsv sensu-client -ea silentlycontinue;if($s){$s.Stop() ;$s.WaitForStatus('Stopped'); Start-Sleep -Seconds 5}"
              postaction="$s=gsv sensu-client -ea silentlycontinue;if($s){$s.Start()}" />
        <File name="sensu-client_*.log" age="5" action="Archive" target="sensu-client_#FMMONTH#.zip" />
        <File name="sensu-client_*.zip" age="35" action="Delete" />
      </Folder>
      <Folder path="D:\AppLogs\Telegraf" >
        <File name="telegraf.log" age="1" check="created" action="Move" target="telegraf_#FMDATE#.log" forceOverWrite="false"
               preaction="$s=gsv telegraf -ea silentlycontinue;if($s){$s.Stop() ;$s.WaitForStatus('Stopped'); Start-Sleep -Seconds 5}"
              postaction="$s=gsv telegraf -ea silentlycontinue;if($s){$s.Start()}" />
        <File name="telegraf_*.log" age="5" action="Archive" target="telegraf_#FMMONTH#.zip" />
        <File name="telegraf_*.zip" age="35" action="Delete" />
      </Folder>
      <Folder path="D:\AppLogs\modsecurity" >
        <File name="modsec_audit.log" age="1" check="created" action="Move" target="modsec_audit_#FMDATE#.log" forceOverWrite="false"
               preaction="$s=gsv NoService -ea silentlycontinue;if($s){$s.Stop() ;$s.WaitForStatus('Stopped'); Start-Sleep -Seconds 5}"
              postaction="$s=gsv NoService -ea silentlycontinue;if($s){$s.Start()}" />
        <File name="modsec_audit_*.log" age="5" action="Archive" target="modsec_audit_#FMMONTH#.zip" />
        <File name="modsec_audit_*.zip" age="35" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
