<?xml version="1.0" encoding="utf-8" ?>
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <!-- SafeNet LDAP sync -->
      <Folder path="#PROGFILES#\CRYPTOCard\BlackShield ID\LDAP Synch" >
        <File name="*.log" age="10" action="Archive" target=".\Archive\LDAPSync_#FCMONTH#.zip" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
