<?xml version="1.0" encoding="utf-8" ?>
<!-- Cleanup directives for Chef Client folders -->
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <Folder path="C:\Chef\log" >
        <File name="client.log" age="1" check="created" action="Move" target="client_#FCDATE#.log" />
        <File name="*.log" age="5" action="Archive" target="#FSDIR#_#FCMONTH#.zip" />
        <File name="*.zip" age="180" action="Delete" />
      </Folder>
      <Folder path="#USERSDIR#\svc_chef-client\.bundle\cache\compact_index" >
        <File name="*" age="30" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
