<?xml version="1.0" encoding="utf-8" ?>
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" followSymLinks="false" >
      <!-- System drive temp folders - do not use T*mp cause this results in too many possibilities! -->
      <Folder path="#SYSDRIVE#\Tmp" exclude=".*\\CitrixCseCache\\.*" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <Folder path="#SYSDRIVE#\Temp" exclude=".*\\CitrixCseCache\\.*" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <!-- Windows error log folders etc. -->
      <Folder path="#SYSROOT#\PCHealth\ERRORREP\QSIGNOFF" >
        <File name="*" age="3" action="Delete" />
      </Folder>
      <Folder path="#PROGDATA#\Microsoft\Windows\WER\ReportQueue" >
        <File name="*" age="3" action="Delete" />
      </Folder>
      <Folder path="#SYSROOT#\LogFiles" >
        <File name="*" age="3" action="Delete" />
      </Folder>
      <!-- Windows Logs folder -->
      <Folder path="#WINDIR#\Logs" >
        <File name="*" age="10" action="Delete" />
      </Folder>
      <!-- Windows Temp folder -->
      <Folder path="#WINDIR#\Temp" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <!-- Windows WID folder -->
      <Folder path="#WINDIR#\WID\Log" >
        <File name="*" age="2" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
