<?xml version="1.0" encoding="utf-8" ?>
<!-- Cleanup SharePoint log folders, do this every hour! -->
<configuration version="7.0">
  <applicationSettings system="^[sharepoint-server-regex]$" >
    <keyWords>
      <add key="@SharePointLogs@" value="'#PROGFILES#\Common Files\Microsoft Shared\Web Server Extensions\16\LOGS'" description="SharePoint Web Extensions Logs" />
    </keyWords>

    <schedules>
      <add name="SharePoint" day="everyday" start="00:30" end="23:45" interval="01:00" />
    </schedules>

    <Folders schedule="SharePoint" deleteEmptyFolders="true" recursive="true" >
      <Folder path="@SharePointLogs@" exclude="^.*\.ini$" >
        <File name="*.tmp" age="1" action="Delete" />
        <File name="*.log,*.usage" age="1" action="Archive" target="#FSDIR#-#FCMONTH#.zip" />
        <File name="*.zip" age="90" action="Delete" />
      </Folder>
    </Folders>

	</applicationSettings>
</configuration>
