<?xml version="1.0" encoding="utf-8" ?>
<!-- Cleanup directives for Windows RecycleBin folders -->
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <!-- Recycle Bins of all users on all drives -->
      <Folder path="?:\*Recycle*" >
        <File name="*" age="1" action="Delete" exclude=".*\\Desktop.ini" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
