<?xml version="1.0" encoding="utf-8" ?>
<!-- Cleanup directives for Windows User folders etc. -->
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="true" recursive="true" >
      <!-- User temp folders -->
      <Folder path="#USERSDIR#\*\AppData\*\Temp*" >
        <File name="*" age="1" action="Delete" />
      </Folder>
      <!-- User webcache folders -->
      <Folder path="#USERSDIR#\*\AppData\Local\Microsoft\Windows\WebCache" >
        <File name="*" age="2" action="Delete" />
      </Folder>
      <!-- User CrashDump folders -->
      <Folder path="#USERSDIR#\*\AppData\Local\CrashDumps" >
        <File name="*" age="2" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
