<?xml version="1.0" encoding="utf-8" ?>
<!-- Cleanup directives for McAfee log folders -->
<configuration version="7.0">
  <applicationSettings>
    <Folders schedule="Daily" deleteEmptyFolders="false" recursive="false" >
      <Folder path="#PROGDATA#\McAfee\Agent\Logs" >
        <File name="*.log" age="5" action="Archive" target="#FSDIR#_#FCMONTH#.zip" />
        <File name="*.zip" age="180" action="Delete" />
      </Folder>
      <Folder path="#PROGDATA#\McAfee\Endpoint Security\Logs" >
        <File name="*.log" age="5" action="Archive" target="#FSDIR#_#FCMONTH#.zip" />
        <File name="*.zip" age="180" action="Delete" />
      </Folder>
    </Folders>
  </applicationSettings>
</configuration>
